*{
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}

._container{
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

/*Секция TADS*/

.page_tabs{
    width:100%;
}

.tabs__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    line-height: 287%;
    margin-top: 100px;
    width: 51.5%;
    height: 40px;
}

.tabs__content__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;

    width: 33%;
    height: 100%;
    cursor: pointer;
}

.tabs__content__item:hover{
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    border-bottom-color: white;
    margin-bottom: -1px;
}

.tabs__content__item:active{
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    border-bottom-color: white;
    margin-bottom: -1px;
}

/*Секция MAIN CONTENT*/

.main__content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
}

.main__content__text__title {
    margin: 41px 30px 69px 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.main__content__text__article{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
    margin:0 30px 27px 100px;
}

.main__content__text__button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;

    box-sizing: border-box;
    width: 270px;
    height: 58px;
    margin-left: 100px;
    margin-bottom: 54px;
    background-color: #EC7979;
    text-align: center;
    line-height: 322%;
    cursor: pointer;
}

.main__content__text__button:hover{
    background-color: #AB4949;
    transition-duration: .5s;
}

.main__content__text__button:active{
    background-color: #EC7979;
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.1);
    transition-duration: .5s;
}

.main__content__img {
    object-fit: contain;
}

/*---------Медиа запросы--------------------------------*/

@media only screen and (max-width : 1024px){
    .tabs__content {
        margin-top: 60px;
    }

    .main__content__text__button {
        width: 231px;
        height: 58px;
    }
    .main__content{
        width: 100%;
    }
    .main__content__text__title {
        font-size: 24px;
}
    .main__content__text__article{
        font-size: 14px;
    }
}
@media only screen and (max-width: 992px){
    .tabs__content{
        width: 100%;
    }
    .main__content__img {
        display: none;
    }
    .main__content{
        display: flex;
        justify-content:center;
        text-align: center;
        width: 100%;
    }
    .main__content__text{
        padding: 0 25px;
    }
    .main__content__text__title {
        text-align: center;
        margin: 41px auto 69px;
    }

    .main__content__text__article{
        text-align: center;
        margin: 0 auto 27px;
    }
    .main__content__text__button{
        margin: 0 auto 30px;
    }
}

@media only screen and (max-width: 480px){
    .main__content__text__title{
        font-size: 18px;
    }
    .main__content__text__article{
        font-size: 13px;
    }
}

